
<div class="container">
  <div class="row">
    
    <div class="col-md-4" *ngFor="let obj of productInComponent">
      <div class="thumbnail">
        <a href="https://www.w3schools.com/w3images/nature.jpg" target="_blank">
          <img [src]="obj.img" class="img-rounded" [alt]="obj.name" style="width:90%">
          <div class="caption">
            <p>{{obj.name}}</p>
            <p>{{obj.price}}</p>
            <p>{{obj.description}}</p>
            <p *ngIf="obj.title">{{obj.title}}</p>
          </div>
        </a>
        <button class="btn btn-primary" (click)="removeProductOnList(obj.id)">Xoá</button>
      </div>
    </div>

  </div>
</div>
